
nav {
  font-family: 'Lato';
  font-size: 20px;
  text-align: center;
}

.nav_image {
  width: 100%;

}

.categories_link {
  color: black;
  margin: 0px 40px;
}

.events_link {
  color: black;
  margin: 0px 40px;
}


.login_link {
  color: black;
  /* display: flex; */
  float: right;
  font-family: 'Prata';
  font-size: 20px;
  margin: 10px 30px 0px 0;
  text-decoration: none;
}

.logout_button {
  display: inline-block;
  float: right;
  margin: 5px 15px 0 0;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-family: 'DM Serif Display';
  font-size: 15px;
  height: 30px;
  width: 80px;
}

.nav_title {
  color: black;
  font-family: 'Playfair Display';
  font-size: 30px;
  margin: 0px 0 20px 30px;
  text-decoration: none;
}

.username {
  color: black;
  display: inline-block;
  /* float: right; */
  font-family: 'Prata';
  font-size: 20px;
  margin: 10px 150px 0px 0;
  text-decoration: none;
}

@media screen and (max-width: 900px) {

  .nav_title {
    font-size: 35px;
  }

  .login_link {
    font-size: 20px;
    margin: 20px 20px 0 0;
  }

  .events_link {
    font-size: 30px;
  }

  .categories_link {
    font-size: 30px;
  }

  .logout_button {
    font-size: 20px;
    height: 40px;
    width: 100px;
  }

}

@media screen and (max-width: 500px) {

  .categories_link {
    font-size: 20px;
  }

  .events_link {
    font-size: 20px;
  }

  .login_link {
    float: left;
    font-size: 40px;
    /* margin: 10px auto; */
  }

  .logout_button {
    display: block;
    float: left;
    font-size: 15px;
    height: 40px;
    margin: 40px;
    width: 340px;
  }

  .nav_title {
    font-size: 50px;
    margin: 10px auto;
  }




}

