.add_cat_button {
  background-color: red;
  border-radius: 5px;
  color: white;
  font-family: 'DM Serif Display';
  font-size: 20px;
  height: 40px;
  margin: 30px;
  width: 100px;
}

.added_category {
  font-family: 'Playfair Display';
  font-size: 25px;
}

form {
  text-align: center;
}

input {
  height: 20px;
  margin: 20px 0;
}

.create_banner {
  font-family: 'Staatliches';
  font-size: 45px;
  letter-spacing: 4px;
  text-align: center;
}

.create_title {
  font-family: 'Playfair Display';
  font-size: 30px;
}

.create_host {
  font-family: 'Playfair Display';
  font-size: 30px;
}

.create_date {
  font-family: 'Playfair Display';
  font-size: 30px;
}

.create_location {
  font-family: 'Playfair Display';
  font-size: 30px;
}

.create_price {
  font-family: 'Playfair Display';
  font-size: 30px;
}

.create_image {
  font-family: 'Playfair Display';
  font-size: 30px;
}

.create_submit {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: block;
  font-family: 'DM Serif Display';
  font-size: 20px;
  height: 40px;
  margin: auto;
  width: 100px;
}

@media screen and (max-width: 905px) {

  .create_banner {
    font-size: 50px;
  }
  
  .create_title {
    font-size: 20px;
  }

  .create_host {
    font-size: 20px;
  }

  .create_date {
    font-size: 20px;
  }

  .create_location {
    font-size: 20px;
  }

  .create_price {
    font-size: 20px;
  }

  .create_image {
    font-size: 20px;
  }

}

@media screen and (max-width: 500px) {

  .create_banner {
    font-size: 30px;
  }

  .create_submit {
    margin-bottom: 30px;
  }

}