a {
  text-decoration: none;
}

.events_banner {
  font-family: 'Staatliches';
  font-size: 45px;
  letter-spacing: 4px;
  text-align: center;
}

.event_container {
  border: solid black 1px;
  display: inline-block;
  margin: 50px 50px auto;
  text-align: center;
  width: 299px;
}

.event_date {
  color: orange;
  font-family: 'Staatliches';
  font-size: 15px;
  margin: 5px 0 0 10px;
}

.event_image {
  width: 300px;
}

.event_title {
  color: black;
  font-family: 'Staatliches';
  font-size: 20px;
  letter-spacing: .5px;
  margin: 5px 0 15px 0;
}

.eventlist_button {
  background-color: red;
  border-radius: 5px;
  display: block;
  color: white;
  font-family: 'DM Serif Display';
  font-size: 20px;
  height: 40px;
  margin: 10px auto;
  width: 100px;
}

.eventlist_container {
  margin: 100px auto;
  text-align: center;
  width:90%;
}

@media screen and (max-width: 905px) {

  .event_container {
    margin: 10px auto;
    width: 100%;
  }

  .event_date {
    font-size: 40px;
  }

  .event_image {
    width: 100%;
  }

  .event_title {
    font-size: 60px;
  }

  .events_banner {
    font-size: 100px;
  }

}

@media screen and (max-width: 500px) {

  .event_date {
    font-size: 20px;
  }

  .event_title {
    font-size: 30px;
  }

}