.categories_banner {
  font-family: 'Staatliches';
  font-size: 45px;
  letter-spacing: 4px;
  text-align: center;
}

.category_container {
  margin: 0 0 50px 0;
  text-align: center;

}

.category_list {
  color: black;
  font-family: 'Lato';
  font-size: 20px;
  margin: 0 30px;
}

@media screen and (max-width: 905px) {

  .category_list {
    display: block;
    font-size: 20px;
    margin: 40px auto;
  }

}