.ticket_banner {
  font-family: 'Staatliches';
  font-size: 45px;
  letter-spacing: 4px;
  text-align: center;
}

.qr_code {
  display: block;
  margin: auto;
  width: 800px;
}

@media screen and (max-width: 905px) {

  .ticket_banner {
    font-size: 70px;
  }

  .qr_code {
    width: 90%;
  }

}