.home_banner {
  font-family: 'Staatliches';
  font-size: 75px;
  letter-spacing: 4px;
  text-align: center;
}

.home_container {
  border: black solid 2px;
  margin: 50px auto;
  width: 900px;
}

.home_date {
  color: orange;
  font-family: 'Staatliches';
  font-size: 40px;
  margin: 5px 0 0 10px;
  text-align: center;
}

.home_image {
  height: 200px;
  object-fit: cover;
  width: 900px;
}

.home_location {
  color: black;
  font-family: 'Staatliches';
  font-size: 25px;
  letter-spacing: .5px;
  margin: 5px 0 15px 0;
  text-align: center;
}

.home_title {
  color: black;
  font-family: 'Staatliches';
  font-size: 55px;
  letter-spacing: .5px;
  margin: 5px 0 15px 0;
  text-align: center;
}

@media screen and (max-width: 905px) {

  .home_banner {
    font-size: 50px;
  }

  .home_container {
    width: auto;
  }

  .home_image {
    width: 100%;
    
  }


}

@media screen and (max-width: 500px) {

  .home_banner {
    font-size: 30px;
  }

  .home_date {
    font-size: 20px;
  }

  .home_title {
    font-size: 30px;
  }

  .home_location {
    font-size: 15px;
  }

}